
.card{
  margin: 1rem;
  background-color: rgb(185, 231, 231);
  color:rgb(41, 151, 151) ;
  font-weight: 700;
  border: 3px solid rgb(41, 151, 151);
  border-radius: 8px;
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card img{
  width: 90%;
  border: 2px solid rgb(41, 151, 151);

}

.cardDead{
  margin: 1rem;
  background-color: rgb(231, 185, 185);
  color:rgb(200, 73, 73) ;
  font-weight: 700;
  border: 3px solid rgb(200, 73, 73);
  border-radius: 8px;
  max-width: 15ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.cardDead img{
  width: 90%;
  border: 2px solid rgb(200, 73, 73);

}